$color-primary: #36b55c;
$color-secondary: invert(#59b52f);
$color-tertiary: invert(darken(#59b52f, 20%));  /* don't know what these will be yet */
$color-dark: #515151;
$color-dark-gray: #333;
$color-white: #eee;
