.dp-button {
  position: relative;
  z-index: 2;
  font-size: inherit;
  display: block;
  border-radius: 0px;
  padding: 10px 15px;
  cursor: pointer;
  color: $color-dark;
  border: 1px solid darken($color-light,15%);
  background: lighten($color-light, 10%);
  background: linear-gradient(to bottom, lighten($color-light, 10%) 0%,lighten($color-light, 20%) 50%,lighten($color-light, 15%) 51%,lighten($color-light, 5%) 100%);
  // box-shadow: 3px 3px 0 0 rgba(117,117,117,0.2);

  &.is-primary {
    border: 1px solid darken($color-primary,10%);
    background: $color-primary;
    background: linear-gradient(to bottom, $color-primary 0%,darken($color-primary, 7%) 50%,darken($color-primary, 7%) 51%,$color-primary 100%);
    color: $color-white;
  }

  &.is-secondary {
    border: 1px solid darken($color-secondary, 5%);
    background: $color-secondary;
    color: $color-quaternary;
    background: linear-gradient(to bottom, darken($color-secondary, 4%) 0%, $color-secondary 15%, $color-secondary 90%, darken($color-secondary, 3%) 100%);
  }

  &.is-tertiary {
    border: 1px solid $color-tertiary;
    background: lighten($color-tertiary, 5%);
    color: $color-secondary;
  }

  &.is-quaternary {
    border: 1px solid $color-quaternary;
    background: lighten($color-quaternary, 10%);
    color: $color-secondary;
  }

  &.is-inline {
    display: inline-block;
    margin-right: 10px;
  }

  &.is-block {
    width: 100%;
  }

  &:focus {
    outline: none;
    // todo this needs to be replaced with something that keeps
    // it clear for accessability
  }
}

.dp-input {
  font-size: inherit;
  display: block;
  padding: 10px;
  border: 1px solid lighten($color-dark, 30%);
}

.dp-form {
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
  .dp-input, .DraftEditor-root {
    width: 100%;
    margin-bottom: 20px;
  }
  span.input-group {
    display: flex; /* or inline-flex */
    .dp-input {
      align-self: flex-start;
      margin-bottom: 0;
    }
    .btn-addon {
      align-self: flex-end;
    }
  }
}

.DraftEditor-root {
  border: 1px solid lighten($color-dark, 30%);
  padding: 10px;
}