.has-text-right {
  text-align: right;
}
.has-text-center {
  text-align: center;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}



/** margins and padding **/
.margin-right {
  margin-right: 15px;
}