ul.is-tabbed-list {
  @include noselect;
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0;
  border: none;
  // background: lighten($color-light, 7%);

  &.is-small {
    font-size: 0.75rem;
  }
  li {
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 5px 15px;
    color: $color-medium;
    // border-right: 1px solid $color-light;
    &:first-child {
      // border-left: 1px solid $color-light;
    }
    &.is-active {
      // margin-top: -2px;
      // border-top: 2px solid $color-white;
      // background: $color-white;
      color: $color-primary;
    }
  }
}

ul.stacked-tab{
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid $color-light;

  li.stacked-tab-item {
    width: 100%;
    display: block;
    border-bottom: 1px solid $color-light;
    .tab-header {
      padding: 15px;
      background: lighten($color-light, 7%);
      cursor: pointer;
      border: none;
      &.is-active {
        color: $color-primary;
      }
    }
    .tab-content {

    }
  }
}