.tags {
  font-size: 0.8em;
  color: darken($color-light, 15%);

  &.is-right {
    float: right;
  }

  @include noselect;

  span {
    margin-right: 5px;
    margin-top: 3px;
    padding: 1px 5px;
    border: 1px solid darken($color-light,20%);
    display: inline-block;

    &.is-primary {
      border: 1px solid $color-primary;

      &.with-fill {
        background: lighten($color-primary, 20%);
        color: $color-white;
      }

      &.is-borderless {
        border: none;
      }
    }

    &.is-text-white {
      color: white;
    }
  }


  span:first-child {
    margin-left: 5px;
  }

  span:last-child {
    margin-right: 0;
  }

  &.with-tags-first {
    span:first-child {
      margin-left: 0;
    }

    span:last-child {
      margin-right: 5px;
    }
  }

}