
$logo-white-round: '/logo100x100.png';
// colors taken from Phase1UI
$color-primary: #43913c;
$color-secondary: #675e9a;
$color-tertiary: #6c757d;

$color-super-dark: #2a302b;
$color-light: #e4e4e4;
$color-dark: #515151;
$color-white: #ffffff;

// todo pick some nice colors
$color-danger: red;
$color-warning: orange;
$color-success: green;


$min-nav-height: 60px;
$min-footer-height: 100px;
$feed-border-radius: 2px;

$feed-item-header-bgcolor: #4f4e4f;
$feed-item-header-color:  white;