@import '../../theme/variables';
@import '../../theme/default-style';

.App {
  color: $color-dark;

  .header {
    background: $color-primary;
    color: $color-white;
    overflow: auto;
    padding: 15px;

    img {
      float: left;
      height: 40px;
      margin-right: 1em;
    }
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.15;
  }
}
