@import '../../theme/variables';

.Navbar {
  padding: 0;

  .welcome {
    display: inline-block;
    float: right;
    color: darken($color-primary, 30%);
  }

  ul {
    display: inline-block;
    text-decoration: none;

    li {
      display: inline-block;
      margin-left: 10px;

      a {
        text-decoration: none;
        color: $color-white;

        &:hover {
          color: $color-dark;
        }
      }
    }
  }
}
